.products {
    padding-top: 0;
}

.product-container {
    margin-top: 18px;
}

.products .product-category {
    display: block;
}

.product-category .product-category__info a {
    margin-right: 40px;
}

.product-category__about {
    margin-top: 24px;
    font-size: 1.2rem;
    color: #888;
}